<% @pictures.each do |picture| %>
	<div class="image_div">
		<a href="./galleri/<%=File.basename(picture)%>">
			<img src="<%= picture %>" width="100xp" height="100px" class="thumbnail">
		</a>
	</div>
<% end %>
