<div class="presentation">
	<p class="rubrik1">Vi fixar inredningen!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adi
		piscing elit. Etiam suscipit sapien eu condimentum consectetur.
		Cras quis quam congue lectus iaculis convallis sit amet id eros.
		Aenean nibh mi, ornare a purus in, facilisis viverra odio. Sed id est tellus.
		Fusce cursus sem eget velit viverra mattis. Fusce nec egestas orci, id rutrum libero.
		 Praesent ac massa vel augue lobortis faucibus. Maecenas arcu purus, tempus vel lobortis vitae,
		 bibendum id nisl. Nullam lorem leo, ullamcorper et vehicula eu, posuere in nulla.
		 Proin mollis convallis imperdiet. Integer facilisis lacus
		 sed lobortis fringilla. Cras tristique,
		  ligula eu commodo faucibus, leo magna
		   consectetur ligula, vitae feugiat elit
		    arcu id sem. Nullam augue neque,
			 eleifend ut egestas sit amet,
			  hendrerit sit amet risus.
			   Nulla quis ipsum id dui interdum venenatis.
	</p>
</div>
<div class="feed_item">
	<form class="feed_form" action="feed_post" method="post">
		<input type="text" name="feed_text" value="">
	</form>
</div>

<%= @user %> 
<div class="news_feed">
	<% @posts.each do |post| %>
	<div class="news_item">
		<%= File.read(post) %>
	</div>
	<% end %>
</div>
