<div class="contact_form_div">
	<form action="/send_mail" method="post">
		Namn: <input type="text" name="name" value="" class="contact_form">
		Email: <input type="text" name="email" value="" class="contact_form">
		Meddelande: <textarea name="message" rows="8" cols="80" class="contact_form"></textarea>
		<input type="submit"  value="Skicka" class="contact_form">
	</form>
</div>
