<div class="contact_form_div">
	<form action="/send_mail" method="post">
		Namn: <input type="text" name="name" value="" class="contact_form">
		Email: <input type="text" name="email" value="" class="contact_form">
		Meddelande: <textarea name="message" rows="8" cols="80" class="contact_form"></textarea>
		<input type="submit"  value="Skicka" class="contact_form">
	</form>
</div>

<div class="fill_width contact_form_div">
	<iframe class="fill_width map" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Sveav%C3%A4gen%2020%2C%20Stockholm+(Jannes%20Inredning%20AB)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
		</iframe></div><br />
