<!Doctype html>
<html>
<head>
	<title>Jannes Inredning AB</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<!-- <script type="text/javascript" src="/js/test.js"></script> -->
	<meta charset="utf-8">
</head>
<body>
	<div id="container">

		<div id="header" class="header_image">
			<a href="/" class="header_link">
				<p id="home_button_text">Jannes Inredning</p>
			</a>

			<div id="navbar">
				<ul>
					<li><a href="/" class="navigation_link">Hem</a> </li>
					<li><a href="/tjanster" class="navigation_link">Tjänster</a> </li>
					<li><a href="/galleri" class="navigation_link">Galleri</a> </li>
					<li><a href="/kontakt" class="navigation_link">Kontakt</a> </li>
				</ul>
				<ul>
					<li><a href="/login"></a></li>
				</ul>
			</div>
		</div>


		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
